@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');

html{
    margin:0;
    padding:0;
    background: url("https://i.pinimg.com/564x/86/2d/be/862dbe526ec300896d4614c82afcdcb7.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    font-family: 'Fruktur', cursive;
    font-size: 90px;
    color: darkcyan;
    text-shadow: 4px 4px rgb(243, 243, 243);
    text-align: center;
}

h2{
    font-family: 'Fruktur', cursive;
    font-size: 60px;
    color: rgb(0, 0, 0);
    text-shadow: 4px 4px rgb(10, 240, 236);
    text-align: center;
}
h1{
    text-transform: uppercase;
    background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
        font-size: 90px;
}

@keyframes textclip {
    to {
    background-position: 200% center;
    }
}

ul{
    list-style: none;
}

#bDrum{
    list-style: none;
    font-family: 'Fruktur';
    font-size: 40px;
    text-align: center;
    width: 400px;
    background-color: rgba(155, 113, 245, 0.399);
    border-radius: 20%;
    animation-name: my-animation;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#cDrum{
    list-style: none;
    font-family: 'Fruktur';
    font-size: 40px;
    text-align: center;
    width: 400px;
    background-color: rgba(113, 245, 223, 0.399);
    border-radius: 20%;
    animation-name: my-animation1;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#hDrum{
        list-style: none;
        font-family: 'Fruktur';
        font-size: 40px;
        text-align: center;
        width: 400px;
        background-color: rgba(155, 113, 245, 0.399);
        border-radius: 20%;
        animation-name: my-animation;
        animation-duration: 2s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
}

#kDrum{
    list-style: none;
    font-family: 'Fruktur';
    font-size: 40px;
    text-align: center;
    width: 400px;
    background-color: rgba(113, 245, 223, 0.399);
    border-radius: 20%;
    animation-name: my-animation1;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#oDrum{
    list-style: none;
    font-family: 'Fruktur';
    font-size: 40px;
    text-align: center;
    width: 400px;
    background-color: rgba(155, 113, 245, 0.399);
    border-radius: 20%;
    animation-name: my-animation;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#rDrum{
    list-style: none;
    font-family: 'Fruktur';
    font-size: 40px;
    text-align: center;
    width: 400px;
    background-color: rgba(113, 245, 223, 0.399);    
    border-radius: 20%;
    animation-name: my-animation1;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#sDrum{
    list-style: none;
    font-family: 'Fruktur';
    font-size: 40px;
    text-align: center;
    width: 400px;
    background-color: rgba(155, 113, 245, 0.399);
    border-radius: 20%;
    animation-name: my-animation;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#tDrum{
    list-style: none;
    font-family: 'Fruktur';
    font-size: 40px;
    text-align: center;
    width: 400px;
    background-color: rgba(113, 245, 223, 0.399);
    border-radius: 20%;
    animation-name: my-animation1;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#toDrum{
        list-style: none;
    font-family: 'Fruktur';
    font-size: 40px;
    text-align: center;
    width: 400px;
    background-color: rgba(155, 113, 245, 0.399);
    border-radius: 20%;
    animation-name: my-animation;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

#sec1{
    display: flex;
    min-height: 10vh;
    justify-content: center;
    justify-content: space-between;
}

#sec2{
    display: flex;
    min-height: 10vh;
    justify-content: center;
    justify-content: space-between;
}

#sec3{
    display: flex;
    min-height: 10vh;
    justify-content: center;
    justify-content: space-between;
}


@keyframes my-animation {
    from {
    background-color:rgba(155, 113, 245, 0.399);
    }
    to {
    background-color: rgba(113, 245, 223, 0.399);
    }
}
@keyframes my-animation1 {
    from {
    background-color:rgba(113, 245, 223, 0.399);
    }
    to {
    background-color: rgba(155, 113, 245, 0.399);
    }
}